<div class="login-component">
  <mat-card>
    <form [formGroup]="form" class="wrapper" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field>
          <input matInput type="email" [ngClass]="{'error': isInvalidForm('email')}" placeholder="Email" formControlName="email"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" [ngClass]="{'error': isInvalidForm('password')}" placeholder="Password" formControlName="password"
          />
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" (click)="login()">Log In</button>
    </form>
  </mat-card>
</div>